html {
    box-sizing: border-box;
    font-size: 2rem;
    background-color: #edebea;
}
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#headerContent{
    position: absolute;
    left:0;
    right:0;
    top: 0;   
    margin-left: 0%;
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
}

#backgroundImg{
    width: 100%;
    height: 100%; 
}

#sonidoImg{
    max-width: 7%;
    max-height: 7%;
    margin-right: 3%;
    margin-left: 1.5%;
}

li {
    display: inline;
    margin-left: 4%;
}

#titulo{
    display: inline; 
    margin-left: 3%;
}

.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

a { text-decoration: none; 
    color: white;
    font-size: 0.5rem;
}

#menu{
    position: relative;
    top: -110%;
   
}

#grupo9{
  width: 170%;
  height: 40%;  
}

#grupo9Img{
    background-image: url(Resources/Grupo_9.svg);
    background-size: cover;
    position: absolute;
    height: 175px;
    width: 98px;
    top: 27%;
    right: 0%;
}

#menu2{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 100%;
}

h4,h6{
    display: inline;
}

#todayTitle{
    margin-left: 10%;
    color: #9e9c9b;
}

#weekTitle{
    margin-left: 3%;
    color: #9e9c9b;
}

#monthTitle{
    margin-left: 3%;
    color: #9e9c9b;
}

#newAlb{
    margin-left: 27%;
    margin-right: auto;    
}

#eventosContainer{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 100%;
}

#footerImgContainer{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border: none;
}

#imgFooter{
    margin-left: 20%;
    width: 45%;
    height: auto;
}

#headerText{
    color: white;
    position: absolute;
    top: 65.3%;
    margin-left: 5%;
    font-size: 0.5rem;
}

#signBtn{
    background-color: Transparent;
    border-color:white;
    cursor:pointer;
    width: 120px;
    height: 25px ;
    border-radius: 15px;
    position: absolute;
    right: 5%;
    border-width: thin;
    color: white;
    font-size: 0.45rem;
    top: 40%;
}

#loremParrafo{
    font-size: 0.35rem;
}

#CSicaLogo{
    position: absolute;
    max-width: 23%;
    max-height: 23%;
    top: 30%;
    left: 4.5%;
}

.optionsBtn{
    display: block;
    background-color: #787876;
    opacity: 100%;
    width: 130px;
    padding: 2px;
    cursor:pointer;
    outline: none;
    border-radius: 15px;
    border-width: thin;
    color: white;
    font-size: 0.37rem;
    margin-bottom: 5%;
    border-color:transparent;
}

#divOptionsBtn{
    position: absolute;
    top: -156%;
    left: 62%;
}

#buscarBtn{
    position: absolute;
    outline: none;
    top: 40%;
    right: 11%;
    border-radius: 15px;
    border-width: thin;
    background-color: #787876;
    opacity: 0.6;
    color: white;
    text-indent: 10px;
    width: 220px;
    height: 25px;
    margin-right: 4%;
    border-color:transparent;
}

::placeholder { 
    color: white;
    margin-left: 10%;
    font-size: 1.1em;
}

  
#divImgPost{
    position: absolute;
    top: 14%;
    right: 2%;    
}

#imgPost{
    border-radius: 15px;
    max-width: 38%;
    max-height: 38%;
}

#postTitle{
    position: absolute;
    color: white;
    left: -27%;
    font-size: 0.4rem;
    top: 30%;
}

#postText{
    position: absolute;
    color: gray;
    left: -50%;
    font-size: 0.35rem;
    top: 38%;
}

#divImgOlistic{
    position: absolute;
    top: 23%;
    right: 6%;
}

#imgOlistic{
    border-radius: 15px;
    max-width: 36%;
    max-height: 35%;
}

#olisticTitle{
    position: absolute;
    color: white;
    left: 45%;
    font-size: 0.4rem;
    top: 30%;
}

#olisticText{
    position: absolute;
    color: gray;
    left: 45%;
    font-size: 0.35rem;
    top: 38%;
}

.table {
    border-collapse: separate;
    border-spacing:  70px 2px;
    width: 100%;
}
  
.table th, .table td {
   
    text-align: center;
}
  
#topSongsTable{
    position: absolute;
    top: 54%;
    left: 1%;
}

#img01Table{
    border-radius: 5px;
    width: 43px;
    height: 36px;
}

td{
    font-size: 0.45rem;
    border: none;
    padding: 10px 0;   
}

th{
    font-size: 0.5rem;
    margin-left: 10%;
    outline: none;
    font-weight: normal;
}

#topAlbumsTable{
    position: absolute;
    top: 53%;
    left: 74%;
    right: 5%;
}

.imgsNewAlbum{
    border-radius: 5px;
    width: 113px;
    height: 106px;
}

#albumsTable{
    border-collapse: separate;
    border-spacing:  10px 2px;
    width: 100%;
}

#newAlbumsText{
    font-size: 0.45rem;
}

#line{
    margin-left: 3%;
    margin-right: 5%;
}

#squareNextImg{
    position: relative;
    background-color: 	#E7E7E7;
    width: 400px;
    height: auto;
    margin-right: auto;
}

thead{
    color: #d2d4d2;
}

tbody{
    font-size: 0.36rem;
}

#corazon{
    width: 50%;
    height: auto;
}

#imgPlay1{
    width: 70%;
    height: auto;;
}

#imgPlay2{
    width: 70%;
    height: auto;;
}

.line{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.line2{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0.2px solid #D2D2D2;
}

.line3{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0.2px solid black;
}

td{
    padding-top: 6px;
    padding-bottom: 6px;
}

.center{
    text-align: center;
}

#whiteSquare{
    position: absolute;
    background-color: white;
    border-radius: 15px;
    height: 260px;
    width: 600px;
    bottom: -40% ;
    left: 40%;
    margin-bottom: 40px;
}

#eventsTable{
    border-collapse: separate;
    border-spacing:  30px 20px;
    margin-bottom: 0;
}


pre{
   display: inline;
    margin: 0;
    margin-right: 0;
}


.imgsLocation{
    width: 20%;
    height: 50%;
}

.btnComprar{
    margin: 0;
    background-color: #00cfa5;
    opacity: 100%;
    width: 100px;
    padding: 2px;
    cursor:pointer;
    outline: none;
    border-radius: 15px;
    border-width: thin;
    color: white;
    font-size: 0.37rem;
    margin-bottom: 5%;
    border-color:transparent;

}

#allEvents{
    font-size: 0.4rem;
    margin-bottom: 0;
    margin-top: -2.5%;
    margin-left: 40%;
    margin-right: auto;
}

.dayNumber{
    font-size: 1rem;
}

#month{
    margin-left: 10%;
    font-size: 0.38rem;
}

#year{
    margin-left: 12%;
    font-size: 0.38rem;
}

#downArrow1 {
    margin-left: 2%;
    transform: rotate(90deg);
    width: 10px;
    height: 10px;
}

#downArrow2 {
    transform: rotate(90deg);
    width: 10px;
    height: 10px;
    margin-left: 2%;
}

#rightArrow {
   
    width: 10px;
    height: 10px;
    margin-left: 0%;
}

#leftArrow {
    transform: rotate(180deg);
    width: 10px;
    height: 10px;
    margin-left: 30%;
}

.circle {
    
    border-radius: 50%;
    width: 8px;
    height: 8px; 
    background-color: #D2D2D2;
    display: inline-block;
    
  }

#circlesContainer{
    
    margin-left: 23%;
    margin-top: -1%;
    
   
}

.circle2{
    border-radius: 50%;
    width: 8px;
    height: 8px; 
    background-color: #00cfa5;
    display: inline-block;

}
